/* Body Styling */
.main-info {
  margin-top: 20vh;
}

.coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

.coaching-header {
  margin-left: 2vw;
}

label {
  color: white;
}

#btn-div {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  height: 10vh;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

