/* Body Styling */
.main-info {
  margin-top: 20vh;
}

.coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

.thing {
  margin-left: 2vw;
}

label {
  color: white;
}

#btn-div {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  height: 10vh;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

/* Footer Formatting */
footer {
  background-color: #262022;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
