/* Body Styling */
.buffer {
  margin-top: 19vh;
}

form {
  margin-bottom: 10vh;
  margin-left: 3vw;
}

label {
  color: white;
}

#name-input {
  display: inline-block;
  margin-right: 1vh;
}

#email {
  width: 50vw;
}

#message {
  width: 70vw;
  height: 50vh;
}

#btn-div {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  height: 10vh;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

/* Footer Formatting */
footer {
  background-color: #262022;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
