/* Body Styling */
.buffer {
  margin-top: 17vh;
}

body {
  background-color: #6a6f71;
}

.image {
  object-fit: cover;
  /* width: 100%; */
  width: 45vw;
  /* min-width: 400px; */
  height: auto;
  margin-left: 1vh;
  margin-top: 1vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
