/* Body Styling */
.team-photo {
  margin-top: 18vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.main-info {
  color: white;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 90vw;
}

h3 {
  margin-left: 3vw;
}

body {
  background-color: #6a6f71;
}

