/* Body Styling */
.team-photo {
  margin-top: 18vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.main-info {
  color: white;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 90vw;
}

h3 {
  margin-left: 3vw;
}

body {
  background-color: #6a6f71;
}

footer {
  background-color: #262022;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*
This is horizontal nav bar

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover
li a:hover {
  background-color: #111;
}
*/
