body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

header {
  background-color: #262022;
  position: fixed;
  top: 0;
}

.header-logo {
  display: inline-block;
  width: 84vw;
}
.logo {
  width: 20vh;
  height: auto;
}

.website-heading {
  color: white;
  width: 60vw;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4a494a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 10vh 10vw;
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  top: 100%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  right: 0;
  top: 100%;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #51535c;
}

.team-photo {
  margin-top: 16vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.main-info {
  color: white;
}

p {
  text-align: center;
}

body {
  background-color: #6a6f71;
}

footer {
  background-color: #262022;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*
This is horizontal nav bar

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover
li a:hover {
  background-color: #111;
}
*/
